:root {
    /* Primary Colors */
    --clr-bw-dark-blue: #051729;

    /* Secondary Colors */
    --clr-bw-blue: #00386C;
    --clr-sea-green: #0E8187;
    --clr-tech-blue: #2EFAD9;
    --clr-forest-green: #0D9E71;
    --clr-sustain-green: #18DD75;
    --clr-cream: #F5F0EB;

    /* Supporting Colors */
    --clr-ocean-ultra: #6578FC;
    --clr-purple: #CC00FF;

    --bs-success-bg-subtle: #99cc00;
    --bs-danger-bg-subtle: #ff9900;
}
