@import url("reset.css");
@import url("colors.css");
@import url("sidebar.css");

/* Bootstrap adjustments */
.card {
    padding: 1rem;
}

.input-group-text {
    min-width: 50px;
}

form input:not([type="submit"]),
form select {
    border-radius: var(--bs-border-radius-lg);
    padding: 12px 15px;
    width: 100%;
    transition: all .2s ease-in-out;
}

.btn {
    border-radius: var(--bs-border-radius-lg);
    border: 2px solid;
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

form .btn {
    padding: .5rem 2.5rem;
    align-self: flex-end;
}

/* General Styling */
.modal i.fa-xmark {
    cursor: pointer;
}

/* Tables */
#spaces-table th,
#users-table th,
#audits-table th,
#departments-table th {
    background-color: var(--clr-bw-blue);
    color: white;
    font-weight: 500;
}

/* Audit Table */
.vertical-text {
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    font-weight: bold;
    background-color: white;
}

.audit-table td {
    text-wrap: pretty;
}

.audit-table thead tr:first-child th,
.audit-table thead tr:nth-child(2) th {
    color: white;
    font-weight: bold;
}

.audit-table thead tr:first-child th {
    background-color: var(--clr-bw-blue);
    padding: 1rem 3rem;
}

.audit-table thead tr:nth-child(2) th {
    background-color: var(--clr-bw-dark-blue);
}

.audit-table thead tr:nth-child(3) th {
    background-color: var(--bs-secondary-bg);
}

.audit-table thead tr:first-child h4 {
    margin-bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}

/* Adjustments */
button[data-bs-target="#depResponsiblesModal"] {
    align-self: initial;
}

.user-avatar {
    --size: 40px;

    width: var(--size);
    height: var(--size);
}

#card-icon {
    --size: 50px;
    width: var(--size);
    height: var(--size);
}

#card-icon i {
    margin: 0 auto;
}

/* Avatar Snake */
.avatar-snake .user-avatar {
    margin-left: -10px;
}

.avatar-snake:first-child {
    margin-left: 0;
}
