.nav-item.active.route {
    background-color: #051729;
    transition: background-color 0.3s ease;
}

.nav-item.active.route:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none !important;
}

a.nav-link i,
.sidebar-brand-text,
.sidebar-heading {
    color: #2cedd4 !important;
}

#accordionSidebar,
.collapse-inner {
    background-color: #051729;
}

.sidebar-brand-icon img {
    height: 45px;
}

.collapse-item {
    color: white !important;
}

.collapse-item:hover {
    color: #051729 !important;
}
