{% extends 'components/sidebar.html' %} {% block content %}

<div class="sidebar-heading mt-2" style="color: #2cedd4">Category</div>
<li class="nav-item">
    <a class="nav-link collapsed" href="">
        <i class="fas fa-list" style="color: #2cedd4"></i>
        <span>Listagens</span>
    </a>
</li>
<hr class="sidebar-divider my-0">
<li class="nav-item">
    <a class="btn nav-link collapsed" href="/">
        <i class="fas fa-sign-out-alt" style="color: #2cedd4"></i>
        <span>Sair</span>
    </a>
</li>
{% endblock %}
