<nav id="sidebar">
    <ul>
        <li>
            <span class="logo">5S</span>
            <button onclick=toggleSidebar() id="toggle-btn">
                <i class="fa-solid fa-angles-left"></i>
            </button>
        </li>

        <li {% if '/dashboard/home' in request.path %} class="active" {% endif %}>
            <a href="{{ url_for('web.dashboard.home') }}">
                <i class="fa-solid fa-home"></i>
                <span>Início</span>
            </a>
        </li>

        {% if "admin" in session and session["admin"] == True %}
        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <span>Sistema</span>
                <i class="fa-solid fa-angle-down"></i>
            </button>
            <ul class="sub-menu">
                <div>
                    <li>
                        <a href="{{ url_for('web.dashboard.listings') }}#audit-types">
                            <i class="fa-solid fa-clipboard-list"></i> <!-- Clipboard List (Audit Types) -->
                            <span>Tipos de Auditorias</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('web.dashboard.listings') }}#departments">
                            <i class="fa-solid fa-building"></i> <!-- Building (Departments) -->
                            <span>Departamentos</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('web.dashboard.listings') }}#spaces">
                            <i class="fa-solid fa-map-marker-alt"></i> <!-- Location Marker (Spaces) -->
                            <span>Espaços</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('web.dashboard.listings') }}#users">
                            <i class="fa-solid fa-users"></i> <!-- Users (Multiple Users) -->
                            <span>Utilizadores</span>
                        </a>
                    </li>
                </div>
            </ul>
        </li>
        {% endif %}

        <li {% if '/dashboard/audits' in request.path %} class="active" {% endif %}>
            <a href="{{ url_for('web.dashboard.audits') }}">
                <i class="fa-solid fa-book"></i>
                <span>Auditorias</span>
            </a>
        </li>

        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn">
                <i class="fa-solid fa-user"></i>
                <span>{{ session["username"] }}</span>
                <i class="fa-solid fa-angle-down"></i>
            </button>
            <ul class="sub-menu">
                <div>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-address-card"></i>
                            <span>Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('web.auth.logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Sair</span>
                        </a>
                    </li>
                </div>
            </ul>
        </li>
    </ul>
</nav>
