<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/icon.ico') }}">
        <title>{% block title %}{% endblock %} - 5S's</title>
        {% block styles %} {% endblock %}
        <script src="https://kit.fontawesome.com/a38dd6e785.js" crossorigin="anonymous"></script>
    </head>
    <body>

    {% block main %} {% endblock %}

    {% block scripts %} {% endblock %}

    </body>
</html>
