{% extends 'base.html' %}

{% block title %}Plataforma 5S{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/fontawesome.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block main %}
<div class="video-bg">
    <video autoplay muted loop>
        <source src="{{ url_for('static', filename='videos/workforce.mp4')}}" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <div class="video-overlay"></div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="#">
                Plataforma 5S
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tab 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tab 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tab 3</a>
                    </li>
                    {% if "email" in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.dashboard.listings') }}">Dashboard</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('web.auth.home') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="video-content">
        <h1>5S</h1>
        <p>Plataforma de Gestão de 5S Borgwarner TTT Viana.</p>
    </div>

    <footer>
        <p>
            Copyright &copy; 2025 Digital Transformation - Viana do Castelo
        </p>
    </footer>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
