{% extends 'base.html' %}

{% block title %} Authentication {% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='toastr/toastr.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block main %}
<a href="{{ url_for('web.home.home') }}" class="auth-btn position-fixed top-0 start-0 m-3">
    <i class="fa-solid fa-angle-left"></i>
    <span>Retroceder</span>
</a>

<div class="auth-container" id="container">
	<div class="form-container sign-up-container">
		<form
            id="register-form"
            class="d-flex justify-content-center align-items-center flex-column px-4 bg-white h-100 gap-3">

			<h1 class="mb-3">Criar Conta</h1>

            <div class="input-group">
                <span class="input-group-text p-3">
                    <i class="fa-solid fa-at"></i>
                </span>
                <input type="email" id="registerEmailField" class="form-control rounded-end p-3" name="email" placeholder="E-mail" aria-label="E-mail" />
                <div id="registerEmailErrorField" class="invalid-feedback"></div>
            </div>
            <div class="input-group">
                <div class="input-group-text p-3">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <input type="password" id="registerPwdField" class="form-control rounded-end p-3" name="pwd" placeholder="Password" aria-label="Password" />
                <div id="registerPwdErrorField" class="invalid-feedback"></div>
            </div>
            <div class="input-group">
                <div class="input-group-text p-3">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <input type="password" id="registerConfirmPwdField" class="form-control rounded-end p-3" name="confirm-pwd" placeholder="Confirmar Password" aria-label="Confirmar Password" />
            </div>
            <small class="w-100">
                <ul class="mb-0 ps-3 text-muted form-text">
                    <li>Mínimo de 8 caracteres</li>
                    <li>Pelo menos, uma letra maiúscula</li>
                    <li>Pelo menos, dois caracteres especiais</li>
                </ul>
            </small>
            <button class="auth-btn align-self-end" type="submit">
                <i class="fa-solid fa-user-plus"></i>
                Registar
            </button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form
            id="login-form"
            class="d-flex justify-content-center align-items-center flex-column px-4 bg-white h-100 gap-3">

			<h1 class="mb-3">Login</h1>

            <div class="input-group">
                <span class="input-group-text p-3">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control rounded-end p-3" placeholder="Nome / E-mail" name="identifier" id="loginIdentifierField" aria-label="Nome / E-mail" required autofocus />
                <div id="loginIdentifierErrorField" class="invalid-feedback"></div>
            </div>
            <div class="input-group">
                <span class="input-group-text p-3">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" class="form-control rounded-end p-3" placeholder="Password" name="pwd" id="loginPwdField" aria-label="Password" required />
            </div>

            <a class="align-self-start" href="#">Esqueceu-se da sua password?</a>

            <button class="auth-btn align-self-end" type="submit">
                <i class="fa-solid fa-sign-in-alt"></i>
                <span>Entrar</span>
            </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div
                class="overlay-panel overlay-left">
				<h1 class="mb-0 text-light">Bem-vindo de volta!</h1>
				<p>Queres entrar na tua conta?</p>
				<button class="auth-btn reverse" id="signIn">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
                <h1 class="mb-0 text-light">Olá, és<br>novo aqui?</h1>
				<p>Queres criar a tua conta?</p>
				<button class="auth-btn reverse" id="signUp">Registo</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='jquery/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>
<script src="{{ url_for('static', filename='toastr/toastr.min.js') }}"></script>
{% endblock %}
