{% extends 'base.html' %}

{% block title %} Authentication {% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
<link href="{{ url_for('static', filename='toastr/toastr.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='/initial_page/css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="auth-container" id="container">
	<div class="form-container sign-up-container">
		<form id="register-form">
			<h1>Criar Conta</h1>
            <div class="input-group">
                <input type="text" id="registerUsernameField" name="username" placeholder="Nome do Utilizador" />
                <div id="registerUsernameErrorField" class="text-danger"></div>
            </div>
            <div class="input-group">
                <input type="email" id="registerEmailField" name="email" placeholder="E-mail" />
                <div id="registerEmailErrorField" class="text-danger"></div>
            </div>
            <div class="input-group">
                <input type="password" id="registerPwdField" name="pwd" placeholder="Password" />
                <div id="registerPwdErrorField" class="text-danger"></div>
                <i class="fa-solid fa-eye"></i>
            </div>
            <div class="input-group">
                <input type="password" id="registerConfirmPwdField" name="confirm-pwd" placeholder="Confirmar Password" />
                <i class="fa-solid fa-eye"></i>
            </div>
            <button class="auth-btn" type="submit">Registar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form id="login-form">
			<h1>Login</h1>
            <div class="input-group">
                <input type="email" placeholder="E-mail" name="email" id="loginEmailField" required autofocus />
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password" name="pwd" id="loginPwdField" required />
                <i class="fa-solid fa-eye"></i>
            </div>
            <a href="#">Forgot your password?</a>
            <button class="auth-btn" type="submit">Entrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bem-vindo de volta!</h1>
				<p>Queres entrar na tua conta?</p>
				<button class="auth-btn" id="signIn" class="reverse">Login</button>
			</div>
			<div class="overlay-panel overlay-right">
                <h1>Olá, és<br>novo aqui?</h1>
				<p>Queres criar a tua conta?</p>
				<button class="auth-btn" id="signUp" class="reverse">Registo</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>
<script src="{{ url_for('static', filename='toastr/toastr.min.js') }}"></script>
{% endblock %}
