{% extends 'dashboard/dashboard_base.html' %}

{% block content %}

<section class="container container-fluid mb-5">
    <div class="card d-flex flex-column gap-3">
        <div class="card-body">
            <h5 class="card-title mb-3">Tipos de Auditorias</h5>
            <div class="accordion" id="audit-types-listing"></div>
        </div>
    </div>
</section>

<section class="container container-fluid mb-5">
    <div class="card d-flex flex-column gap-3">
        <div class="card-body table-responsive">
            <h5 class="card-title mb-3">Departamentos</h5>
            <table id="departments-table" class="table table-striped table-responsive table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Departamento</th>
                        <th>Tipo de Auditoria</th>
                        <th>Espaços</th>
                        <th><i class="fa-solid fa-user"></i> <span>Utilizadores</span></th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <form class="d-flex flex-column gap-3">
                <div>
                    <label for="departmentField" class="mb-1">Departamento <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="departmentField" aria-describedby="departmentHelp" placeholder="Insira o nome do departamento.." required>
                    <div id="departmentErrorField" class="text-danger"></div>
                </div>
                <div>
                    <label for="auditTypeField" class="mb-1">Tipo de Auditoria <span class="text-danger">*</span></label>
                    <select class="form-control" id="auditTypeField" required></select>
                    <div id="auditTypeFieldError" class="text-danger"></div>
                </div>
                <button type="submit" class="btn btn-primary" id="create_department_btn">
                    <i class="fa-solid fa-plus"></i>
                    <span>Criar</span>
                </button>
            </form>
        </div>
    </div>
</section>

<section class="container container-fluid">
    <div class="card d-flex flex-column gap-3">
        <div class="card-body table-responsive">
            <h5 class="card-title mb-3">Espaços</h5>
            <table id="spaces-table" class="table table-responsive table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Espaço</th>
                        <th>Departamento</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <form class="d-flex flex-column gap-3">
                <div class="form-group">
                    <label for="spaceField" class="mb-1">Espaço <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="space" id="spaceField" aria-describedby="spaceHelp" placeholder="Insira o nome do espaço.." required>
                    <div id="spaceFieldError" class="text-danger"></div>
                </div>
                <div class="form-group">
                    <label for="spaceDepartmentField" class="mb-1">Departamento <span class="text-danger">*</span></label>
                    <select class="form-control" name="department" id="spaceDepartmentField" required></select>
                </div>
                <button id="create_space_btn" type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    Criar
                </button>
            </form>
        </div>
    </div>
</section>

{% with 
    modal_id="editDepartmentModal", 
    modal_title="Editar Departamento",
    modal_content="
        <form id='editDepartmentForm' class='d-flex flex-column gap-3'>
            <div class='form-group'>
                <label for='editDepartmentField'>Departamento <span class='text-danger'>*</span></label>
                <input type='text' class='form-control' id='editDepartmentField' required>
            </div>
            <div class='form-group'>
                <label for='editAuditTypeField'>Tipo de Auditoria <span class='text-danger'>*</span></label>
                <select class='form-control' id='editAuditTypeField' required></select>
            </div>
        </form>",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Fechar</button>
        <button type='submit' class='btn btn-primary' id='saveDepartmentBtn'>Guardar</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="deleteDepartmentModal", 
    modal_title="Apagar Departamento",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Não</button>
        <button type='button' class='btn btn-danger' id='deleteDepartmentBtn'>Sim</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="editSpaceModal", 
    modal_title="Editar Espaço",
    modal_content="
        <form id='editSpaceForm' class='d-flex flex-column gap-3'>
            <div class='form-group'>
                <label for='spaceField'>Espaço <span class='text-danger'>*</span></label>
                <input type='text' class='form-control' id='spaceField' required>
            </div>
            <div class='form-group'>
                <label for='departmentField'>Departamento <span class='text-danger'>*</span></label>
                <select class='form-control' id='departmentField' required></select>
            </div>
        </form>",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Fechar</button>
        <button type='submit' class='btn btn-primary' id='editSpaceModalBtn'>Guardar</button>
" %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="deleteSpaceModal", 
    modal_title="Apagar Espaço",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Não</button>
        <button type='button' class='btn btn-danger' id='deleteSpaceBtn'>Sim</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard/listings/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/listings/departments.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/listings/spaces.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/listings/auditTypes.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/listings/modals/departments.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/listings/modals/spaces.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/listings/main.js') }}"></script>
{% endblock %}
