{% extends 'dashboard/dashboard_base.html' %}

{% block content %}

<section id="audit-types" class="container container-fluid card">
    <div class="card-body d-flex flex-column gap-3">
        <h5 class="card-title mb-3">Tipos de Auditorias</h5>
        <div class="accordion" id="audit-types-listing"></div>
    </div>
</section>

<section id="departments" class="container container-fluid card">
    <div class="card-body d-flex flex-column gap-3 table-responsive">
        <h5 class="card-title">Departamentos</h5>
        <table id="departments-table" class="table table-hover rounded-3 overflow-hidden">
            <thead>
                <tr>
                    <th>Departamento</th>
                    <th>Responsáveis</th>
                    <th>Espaços</th>
                    <th colspan=2>Utilizadores</th>
                </tr>
            </thead>
            <tbody class="align-middle"></tbody>
        </table>
        <form class="d-flex flex-column gap-3">
            <div class="input-group">
                <label for="departmentField" class="w-100 form-label">Departamento <span class="text-danger">*</span></label>
                <span class="input-group-text p-3 rounded-start">
                    <i class="fa-solid fa-building mx-auto"></i>
                </span>
                <input type="email" class="form-control rounded-end" id="departmentField" aria-describedby="departmentHelp" placeholder="Departamento..">
                <div id="departmentErrorField" class="text-danger w-100"></div>
            </div>
            <div class="input-group">
                <label for="auditTypeField" class="w-100 form-label">Tipo de Auditoria <span class="text-danger">*</span></label>
                <span class="input-group-text p-3 rounded-start">
                    <i class="fa-solid fa-clipboard-list mx-auto"></i>
                </span>
                <select class="form-select rounded-end" id="auditTypeField" required></select>
                <div id="auditTypeFieldError" class="text-danger"></div>
            </div>
            <div class="input-group">
                <label for="#" class="w-100 form-label">Responsáveis</label>
                <div id="selectedResponsiblesNewDepartment" class="d-flex flex-wrap gap-1 mb-2 w-100"></div>
                <span class="input-group-text p-3 rounded-start">
                    <i class="fa-solid fa-users-gear mx-auto"></i>
                </span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#depResponsiblesModal">
                    Adicionar Responsáveis
                </button>
            </div>
            <div class="mt-2" id="selectedItems"></div>
            <button type="submit" class="btn btn-secondary" id="create_department_btn">
                <i class="fa-solid fa-plus"></i>
                <span>Criar Departamento</span>
            </button>
        </form>
    </div>
</section>

<section id="spaces" class="container container-fluid card">
    <div class="card-body table-responsive d-flex flex-column gap-3">
        <h5 class="card-title">Espaços</h5>
        <table id="spaces-table" class="table table-responsive table-hover rounded-3 overflow-hidden">
            <thead>
                <tr>
                    <th colspan=2>Espaço</th>
                </tr>
            </thead>
            <tbody class="align-middle"></tbody>
        </table>

        <form class="d-flex flex-column gap-3">
            <div class="input-group">
                <label for="spaceField" class="form-label w-100">Espaço <span class="text-danger">*</span></label>
                <span class="input-group-text p-3 rounded-start">
                    <i class="fa-solid fa-map-marker-alt"></i>
                </span>
                <input type="text" class="form-control rounded-end" name="space" id="spaceField" aria-describedby="spaceHelp" placeholder="Insira o nome do espaço.." required>
                <div id="spaceFieldError" class="text-danger w-100"></div>
            </div>
            <div class="input-group">
                <label for="spaceDepartmentField" class="form-label w-100">Departamento <span class="text-danger">*</span></label>
                <span class="input-group-text p-3 rounded-start">
                    <i class="fa-solid fa-building"></i>
                </span>
                <select class="form-select rounded-end" name="department" id="spaceDepartmentField" required></select>
            </div>
            <button id="create_space_btn" type="submit" class="btn btn-secondary">
                <i class="fa-solid fa-plus"></i>
                <span>Criar Espaço</span>
            </button>
        </form>
    </div>
</section>

<section id="users" class="container container-fluid card">
    <div class="card-body table-responsive d-flex flex-column gap-3">
        <h5 class="card-title">Utilizadores</h5>
        <table id="users-table" class="table table-responsive table-hover rounded-3 overflow-hidden">
            <thead>
                <tr>
                    <th>Utilizador</th>
                    <th>Auditorias</th>
                    <th>Cargo</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody class="align-middle"></tbody>
        </table>
    </div>
</section>

{% with 
    modal_id="editDepartmentModal", 
    modal_title="Editar Departamento",
    modal_content="
        <form id='editDepartmentForm' class='d-flex flex-column gap-3'>
            <div class='input-group'>
                <label for='editDepartmentField' class='w-100 form-label'>Departamento <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start'>
                    <i class='fa-solid fa-building mx-auto'></i>
                </span>
                <input type='text' class='form-control rounded-end p-3' id='editDepartmentField' placeholder='Departamento' aria-label='Departamento' required>
            </div>
            <div class='input-group'>
                <label for='editAuditTypeField' class='w-100 form-label'>Tipo de Auditoria <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start'>
                    <i class='fa-solid fa-clipboard-list mx-auto'></i>
                </span>
                <select class='form-select rounded-end p-3' id='editAuditTypeField' aria-label='Tipo de Auditoria' required></select>
            </div>
            <div class='input-group'>
                <label for='#' class='w-100 form-label'>Responsáveis</label>
                <div id='selectedResponsiblesNewDepartment' class='d-flex flex-wrap gap-1 mb-2 w-100'></div>
                <span class='input-group-text p-3 rounded-start'>
                    <i class='fa-solid fa-users-gear mx-auto'></i>
                </span>
                <button type='button' class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#depResponsiblesModal'>
                    Adicionar Responsáveis
                </button>
            </div>
        </form>",
    modal_footer="
        <button type='button' class='btn btn-danger delete-department-btn' data-bs-toggle='modal' data-bs-target='#deleteDepartmentModal'>Eliminar</button>
        <button type='submit' class='btn btn-primary' id='saveDepartmentBtn'>Guardar</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="deleteDepartmentModal", 
    modal_title="Apagar Departamento",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Não</button>
        <button type='button' class='btn btn-danger' id='deleteDepartmentBtn'>Sim</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="editSpaceModal", 
    modal_title="Editar Espaço",
    modal_content="
        <form id='editSpaceForm' class='d-flex flex-column gap-3'>
            <div class='input-group'>
                <label for='spaceField' class='w-100 form-label'>Espaço <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start'>
                    <i class='fa-solid fa-map-marker-alt mx-auto'></i>
                </span>
                <input type='text' class='form-control rounded-end p-3' id='spaceField' placeholder='Espaço' aria-label='Espaço' required>
            </div>
            <div class='input-group'>
                <label for='departmentField' class='w-100 form-label'>Departamento <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start'>
                    <i class='fa-solid fa-building mx-auto'></i>
                </span>
                <select class='form-select rounded-end p-3' id='departmentField' placeholder='Departamento' aria-label='Departamento' required></select>
            </div>
        </form>",
    modal_footer="
        <button type='button' class='btn btn-danger delete-space-btn' data-bs-toggle='modal' data-bs-target='#deleteSpaceModal'>Eliminar</button>
        <button type='submit' class='btn btn-primary' id='editSpaceModalBtn'>Guardar</button>
" %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="deleteSpaceModal", 
    modal_title="Apagar Espaço",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Não</button>
        <button type='button' class='btn btn-danger' id='deleteSpaceBtn'>Sim</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}


{% with
    modal_id="depResponsiblesModal",
    modal_title="Selecionar Responsáveis do Departamento",
    modal_content="
    <input type='text' class='form-control mb-3' id='searchInput' placeholder='Search...'>
    <ul class='list-group'></ul>
    <div id='selectedUsersList' class='d-flex flex-wrap gap-2 mt-2'></div>
    <div class='d-flex justify-content-between align-items-center mb-2'>
        <label for='usersPerPage' class='me-2'>Mostrar:</label>
        <select id='usersPerPage' class='form-select w-auto'>
            <option value='5'>5 por página</option>
            <option value='10'>10 por página</option>
            <option value='15'>15 por página</option>
            <option value='20'>20 por página</option>
        </select>
    </div>
    <ul id='pagination' class='pagination justify-content-center mt-3 gap-2 align-items-center'></ul>
    ",
    modal_footer="
        <button class='btn btn-secondary' id='saveDepartmentResponsiblesBtn' data-bs-dismiss='modal'>Guardar</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}


{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/dashboard/listings/modals/departments.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/listings/modals/spaces.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/listings/main.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/listings/modals/department_responsibles.js') }}"></script>
{% endblock %}
