{% extends 'dashboard/dashboard_base.html' %}

{% block content %}

<section id="audit-types" class="container container-fluid">
    <div class="card d-flex flex-column gap-3">
        <div class="card-body">
            <h5 class="card-title mb-3">Tipos de Auditorias</h5>
            <div class="accordion" id="audit-types-listing"></div>
        </div>
    </div>
</section>

<section id="departments" class="container container-fluid">
    <div class="card d-flex flex-column gap-3">
        <div class="card-body table-responsive">
            <h5 class="card-title mb-3">Departamentos</h5>
            <table id="departments-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Departamento</th>
                        <th>Espaços</th>
                        <th colspan=2>Utilizadores</th>
                    </tr>
                </thead>
                <tbody class="align-middle"></tbody>
            </table>
            <form class="d-flex flex-column gap-3">
                <div>
                    <label for="departmentField" class="mb-1">Departamento <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="departmentField" aria-describedby="departmentHelp" placeholder="Insira o nome do departamento.." required>
                    <div id="departmentErrorField" class="text-danger"></div>
                </div>
                <div>
                    <label for="auditTypeField" class="mb-1">Tipo de Auditoria <span class="text-danger">*</span></label>
                    <select class="form-control" id="auditTypeField" required></select>
                    <div id="auditTypeFieldError" class="text-danger"></div>
                </div>
                <button type="submit" class="btn btn-primary" id="create_department_btn">
                    <i class="fa-solid fa-plus"></i>
                    <span>Criar</span>
                </button>
            </form>
        </div>
    </div>
</section>

<section id="spaces" class="container container-fluid">
    <div class="card d-flex flex-column gap-3">
        <div class="card-body table-responsive">
            <h5 class="card-title mb-3">Espaços</h5>
            <table id="spaces-table" class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th colspan=2>Espaço</th>
                    </tr>
                </thead>
                <tbody class="align-middle"></tbody>
            </table>

            <form class="d-flex flex-column gap-3">
                <div class="form-group">
                    <label for="spaceField" class="mb-1">Espaço <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="space" id="spaceField" aria-describedby="spaceHelp" placeholder="Insira o nome do espaço.." required>
                    <div id="spaceFieldError" class="text-danger"></div>
                </div>
                <div class="form-group">
                    <label for="spaceDepartmentField" class="mb-1">Departamento <span class="text-danger">*</span></label>
                    <select class="form-control" name="department" id="spaceDepartmentField" required></select>
                </div>
                <button id="create_space_btn" type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    Criar
                </button>
            </form>
        </div>
    </div>
</section>

<section id="users" class="container container-fluid">
    <div class="card d-flex flex-column gap-3">
        <div class="card-body table-responsive">
            <h5 class="card-title mb-3">Utilizadores</h5>
            <table id="users-table" class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Utilizador</th>
                        <th>Auditorias</th>
                        <th>Cargo</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody class="align-middle"></tbody>
            </table>
        </div>
    </div>
</section>

{% with 
    modal_id="editDepartmentModal", 
    modal_title="Editar Departamento",
    modal_content="
        <form id='editDepartmentForm' class='d-flex flex-column gap-3'>
            <div class='input-group'>
                <label for='basic-addon1' class='w-100 form-label'>Departamento <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start' id='basic-addon1'>
                    <i class='fa-solid fa-building mx-auto'></i>
                </span>
                <input type='text' class='form-control rounded-end p-3' id='editDepartmentField' placeholder='Departamento' aria-label='Departamento' aria-describly='basic-addon1' required>
            </div>
            <div class='input-group'>
                <label for='basic-addon2' class='w-100 form-label'>Tipo de Auditoria <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start' id='basic-addon2'>
                    <i class='fa-solid fa-clipboard-list mx-auto'></i>
                </span>
                <select class='form-select rounded-end p-3' id='editAuditTypeField' aria-label='Tipo de Auditoria' aria-describly='basic-addon2' required></select>
            </div>
        </form>",
    modal_footer="
        <button type='button' class='btn btn-danger delete-department-btn' data-bs-toggle='modal' data-bs-target='#deleteDepartmentModal'>Eliminar</button>
        <button type='submit' class='btn btn-primary' id='saveDepartmentBtn'>Guardar</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="deleteDepartmentModal", 
    modal_title="Apagar Departamento",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Não</button>
        <button type='button' class='btn btn-danger' id='deleteDepartmentBtn'>Sim</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="editSpaceModal", 
    modal_title="Editar Espaço",
    modal_content="
        <form id='editSpaceForm' class='d-flex flex-column gap-3'>
            <div class='input-group'>
                <label for='basic-addon2' class='w-100 form-label'>Espaço <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start' id='basic-addon2'>
                    <i class='fa-solid fa-map-marker-alt mx-auto'></i>
                </span>
                <input type='text' class='form-control rounded-end p-3' id='spaceField' placeholder='Espaço' aria-label='Espaço' aria-describly='basic-addon2' required>
            </div>
            <div class='input-group'>
                <label for='basic-addon3' class='w-100 form-label'>Departamento <span class='text-danger'>*</span></label>
                <span class='input-group-text rounded-start' id='basic-addon3'>
                    <i class='fa-solid fa-building mx-auto'></i>
                </span>
                <select class='form-select rounded-end p-3' id='departmentField' placeholder='Departamento' aria-label='Departamento' aria-describly='basic-addon3' required></select>
            </div>
        </form>",
    modal_footer="
        <button type='button' class='btn btn-danger delete-space-btn' data-bs-toggle='modal' data-bs-target='#deleteSpaceModal'>Eliminar</button>
        <button type='submit' class='btn btn-primary' id='editSpaceModalBtn'>Guardar</button>
" %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% with 
    modal_id="deleteSpaceModal", 
    modal_title="Apagar Espaço",
    modal_footer="
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Não</button>
        <button type='button' class='btn btn-danger' id='deleteSpaceBtn'>Sim</button>
    " %} {% include 'dashboard/components/modal.html' %}
{% endwith %}

{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/dashboard/listings/modals/departments.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/listings/modals/spaces.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboard/listings/main.js') }}"></script>
{% endblock %}
